<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>EliminarDocumento</servlet-name>
        <servlet-class>Servicios.EliminarDocumento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarUsuario</servlet-name>
        <servlet-class>Servicios.ActualizarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarUsuario</servlet-name>
        <servlet-class>Servicios.EliminarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletBusquedaDocumentos</servlet-name>
        <servlet-class>Servicios.ServletBusquedaDocumentos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListadoDocumentos</servlet-name>
        <servlet-class>Servicios.ListadoDocumentos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRegistroUser</servlet-name>
        <servlet-class>Servicios.ServletRegistroUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeveltLogin</servlet-name>
        <servlet-class>Servicios.SeveltLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EliminarDocumento</servlet-name>
        <url-pattern>/EliminarDocumento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarUsuario</servlet-name>
        <url-pattern>/ActualizarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarUsuario</servlet-name>
        <url-pattern>/EliminarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletBusquedaDocumentos</servlet-name>
        <url-pattern>/ServletBusquedaDocumentos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListadoDocumentos</servlet-name>
        <url-pattern>/ListadoDocumentos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRegistroUser</servlet-name>
        <url-pattern>/ServletRegistroUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeveltLogin</servlet-name>
        <url-pattern>/SeveltLogin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
