
body {
    background: #babec7;

}

#topnav {
    border-right: 2px solid black;
}

#wrapper {
    font: 12pt sans-serif;

}

li{
    border-bottom: 1px solid black;
}


#wrapper header {
    text-shadow: 2px 2px black;
    text-align: center;
    border-radius: 8px;
    background-color: #404CAA;
    color: white;
    padding: 8px 8px 8px 8px;
    margin-top:10px;
    margin-bottom:15px;
    box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.7);
    margin-right: 50px;
    margin-left: 50px;

}

#wrapper footer {
    text-align: center;
    color: white;
    background-color: #404CAA;
    text-shadow: 2px 2px black;
    border-radius: 8px;
    box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.7);
    color: white;
    padding: 18px;
    margin-top:15px;
    margin-bottom:10px;
    margin-right: 50px;
    margin-left: 50px;

}



#wrapper #ventana_Info {
   /* margin-left:%;*/
    padding:1px 16px;
    height:548px;
    align-content: center;
    width: auto;
    background-color: white;
    border-radius: 16px;


}

#wrapper #contents {
    background-repeat: no-repeat;
    height: 550px;
    border: 2px solid black;
    border-radius: 16px;
    background: rgba(255, 255, 255, .2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    background: url('imagenes/edif_5.jpg');
    background-size: cover;
    margin-right: 50px;
    margin-left: 50px;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;

}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;

}

#topnav #active {
    background-color: #212787;
    color: white;
    border-radius: 16px 0px 0px 0px;
    padding-bottom: 15px;

}



li a:hover:not(.active) {
    background-color: #555;
    color: white;
}


#wrapper header h1 {
    font-size: 25pt;
    margin: 4px;
    margin-left: 16px;
}

#wrapper h2 {
    color: white;
    font-size: 14pt;
    margin: 4px;
    margin-left: 16px;
}



.tablaFormulario {

    border-collapse: collapse;
    box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.7);
    font-size: 12pt;
    margin-left: 35%;
    margin-top: 10%;

}

.tablaFormulario th,
.tablaFormulario td {

    padding: 10px;
    vertical-align: central;

}

.tablaFormulario input,  .tablaFormulario select{

    font: inherit;
    border: 2px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

#dato{
    width: 100%;
}



.tablaFormulario .etiqueta {
    background-color: lightgray;
    text-align: right;


}

.tablaFormulario .campo {
    background-color: white;

    /*padding: 15%;*/
}

.tablaFormulario .controles {
    padding: 8px;
    text-align: center;
    /*     background-color: white;*/
}

.tablaFormulario .tablaBotones {
    width: 20%; 
    border: none;
    border-collapse: collapse;
}

.tablaFormulario .tablaBotones td {
    border: none;
    padding: 2px 4px 2px 4px;
    font-size: 9pt;
}

.button {
    background-color: whitesmoke; 
    color: black; 
    border: 2px solid #4CAF50;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.7);
    border-radius: 12px;
}

input[type=text]:focus {
    border: 2px solid #555;

}


.button:hover {
    background-color: #4CAF50;
    color: white;

}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(2px);
}